# Lesson 2 - Understanding Variables
In this lesson you will learn the basic types of variables in Python and most other programming languages. You will also learn how to convert between variables types to deal with one of the most common errors for beginning programmers.

## Computation and variables

The most basic function of any programming language or, indeed, computational device is to perform some mathmatical operation on two different values.

In [1]:
2+1

3

Of course, telling a computer to add two specific numbers is not very powerful. The real power in computing relies on being able to perform operations on variables.

In [2]:
x = 2
x+1

3

The `=` sign operator stores the right side into the variable on the left side. This can be a little counterintuitive for humanists who are used to reading left to right!

### Types of Variables

In Python you can store a lot of different types of data into a variable, ranging from numbers to entire spreadsheets called dataframes. It is not very interesting to go into all the types but there are four important **primitive** data types to know. They are called **primitives** because they constitute the basic building blocks of more complex types.

1. Integer - Any non-decimal number
2. Float - A floating decimal number (i.e. 3.14159)
3. String - A single character or an array of characters (i.e. "Hello World")
4. Bool - True or False

In other programming languages you have to define the variable type and the value in the first instance. Python usually infers the type based on input. This is a good and a bad thing.

In [3]:
# Integer no decimal
a = 1

#float decimal
b = 2.0

#String quote marks
c = "Three"

#Bool reserved word True or False
d = True

If we ever want to figure out the particular data type a variable is we can use the `type()` function

In [4]:
type(a)

int

In [5]:
type(b)

float

In [6]:
type(c)

str

In [7]:
type(d)

bool

## Variable Type Errors
The most common error for people beginning in coding is a `TypeError`. This means that you are trying to do a computation between two pieces of data that are incompatible.

For example, I can add `a` and `b` because they are both numbers

In [8]:
a + b

3.0

If I try to add, `a` + `c` it won't work because they are different types. In human language 1 + Three is four, but for computers it is the same as saying "What is 1 + Blue?"

### Task 1:
Create a new cell and add `a` + `c` and see what happens.

In [9]:
#Create Code Here
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

This seems like a really stupid mistake, but it is not. When you are working with tabular data it is not always clear what the data type of each column is. Thus, even though something might look like a number it could actually be a string and a complex task will come to a grinding halt.

**For example**

In [10]:
text1 = "Maroon"
text2 = "5"
text1 + text2

'Maroon5'

This works because `+` is also the operator for string contcatenation (adding one string to another string to make a longer string). What do you think will happen if we try to use the `-` operator to *delete* text2 from text1?

In [11]:
text1 - text2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

We get the following error: `TypeError: unsupported operand type(s) for -: 'str' and 'str'`. What could this error mean in English? How could we get help fix this?

It is obvious that the lines above would cause trouble, but why might there be an issue with the lines below?

In [12]:
number1 = 567
number2 = "5309"
number1 + number2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Does not compute!**

We can actually make the above lines of code work if we convert the data type using some built in functions.

1. int() - Converts to integer
2. float() - Converts to float
3. str() - Converts to string
4. bool() - Converts to boolean

Using these functions is very simple. Simply insert the variable you want to convert into the parentheses `int("5309")`

We can now make our math work:

In [13]:
number1 + int(number2)

5876

### Task 2: 
How else can we combine number1 and number2 using type conversion?

In [ ]:
#Enter Code Here

## Arrays and Lists

One of the most important complex data types in data science is an array, which in Python is usually referred to as a **List**. In Python, there are actually things called **arrays** but these are used specifically when the data is all of the same type. To avoid confusion, this is the last time we'll use the word array and simply refer to lists.

A list is a collection of data that has been placed in a particular order through an index. For example, a list of names:

```Python
list1 = ["JMU", "UVA", "Virginia Tech", "William and Mary"]
```

### Accessing List Elements

You can access individual values in a list by using it's index. The index always starts at `0`, so the last index value for this list is `3` even though there are four items. We access this value by giving the name of the list and the index in brackets.

In [15]:
list1 = ["JMU", "UVA", "Virginia Tech", "William and Mary"]

What value will appear if I type `list1[2]`?

In [16]:
list1[2]

'Virginia Tech'

You can also traverse lists from right to left by putting a `-` in front of the index. This means that `-1` is the last term in the list.

What will the following code produce?

In [17]:
list1[-3]

'UVA'

### Slicing Lists

Sometimes you may want to get several values from a list. This is called "slicing". The syntax for this is as follows: `list[initial_value : end_value]`, where `initial_value` is the part of the list where you want to start, and `end_value` is where you want to end but not include.
For example, `list1[0:2]` will give the first two items because it goes from list index 0 (JMU) to list index 1 (UVA) and then stops at list index 2.

In [18]:
list1[0:2]

['JMU', 'UVA']

In [19]:
#We can get the last three values by slicing from position 1 to position 4.
list1[1:4]

['UVA', 'Virginia Tech', 'William and Mary']

If you leave the initial value empty it will automatically start from 0. If you leave the end value empty, it will automatically go to the very end. We can get the first three and the last three values in this way.

In [20]:
list1[:3]

['JMU', 'UVA', 'Virginia Tech']

In [21]:
list1[1:]

['UVA', 'Virginia Tech', 'William and Mary']

### List Len()

One common operation is to find the length of a list. If you're new to programming this does not seem very useful because you can just look at the list and count, but this has all sorts of use cases. You can use the `len()` function to find the length of the list.

What is the answer to the code below?

In [22]:
len(list1)

4

#### Task 3:

Now imagine we have another list of universities.

In [23]:
list2 = ["Harvard", "Yale", "Boston College","Princeton", "Duke"]

If we wanted to find the total length of list1 and list2 combined how would we go about it?

In [24]:
#write your answer below and run it.

### Nested Lists

You can also put lists inside lists to create new variables.

In [25]:
list3 = [list1,["Harvard", "Yale", "Boston College","Princeton", "Duke"]]

print(*list3, sep='\n')

['JMU', 'UVA', 'Virginia Tech', 'William and Mary']
['Harvard', 'Yale', 'Boston College', 'Princeton', 'Duke']

*Note*: There are two lists combined in one list.

We can access a nested list value by nesting the brackets. For example, if I want to access the third value on the second list this would be:

In [26]:
list3[1][2]

'Boston College'

#### Task 4:

What would be the code for picking "Virginia Tech"?

The use case for creating, adding, and deleting lists seems rather limited now, but once you start working within data tables it will become obvious why you would want to do this.

## Iteration

One of the most common features of any programming language is the ability to iterate over data. That is, repeat the same thing over and over again. The most common loop is the trusty `for` loop. This consists of a header that sets the number of iterations and a body statement that does something during an iteration. In Python `for` loops are pretty easy, the only annoying feature is that it must be tabbed properly in order to work.

In [ ]:
#the following loop goes through all the times in the list and converts them to upper case.
for x in list1:
    print(x.upper())

#### Task 5:

The method for converting a string to lower case is `lower()`. How would I write a `for` loop to convert all list values in list2 to lower case?

In [ ]:
# Test your answer here

### Iteration over range

In some cases you may not want to iterate over a list, but instead a range of values. In Python this is extremely simple. Instead of providing a list to iterate over we simply provide a `range()`. We have to remember that ranges in Python start at 0. Thus, `range(5)` is the number 0 through 4.

In [ ]:
for x in range(5):
    print(x)

Ranges can also have a custom bottom limit and increment or step. These can be added by passing more variables into the function. If only two variables are passed into the function, Python assumes that these are the minimum and maximum values (i.e. range(-5,10) is the range from -5 to 10. With three variables, the third becomes the increment. Therefore range(-5,10, 5) means step from -5 to 10 in steps of five.

In [ ]:
for x in range(-5,10):
    print(x)

In [ ]:
for x in range (-5,10, 5):
    print(x)

#### Task 6:

The range function is incredibly powerful if want to quickly perform a series of specific numbers without creating a list first. For example, imagine you are making a chart that converts from Celcius to Farenheit, but you don't want every value between 1 and 100, just the values from 0 to 100 in steps of 10. If the formula for conversion is `(x*9/5)+32`, how would we write a `for...range()` loop that prints this?

What is the highest value?

## Functions

Functions are a way to store a procedure for later use. If variables store values, functions store things you do to variables. When doing corpus linguistics you'll mostly be using functions other people have already created, but it is useful to know how functions work to understand what you are actually doing with your data. 
Functions consist of two parts: 
1. definition - indicates what the function does
2. execution - when the function is actually used

### Definition

A function is defined through the `def` statement, function name, any parameters, and a function body.

```python
def HelloWorld():
    print("Hello World")
```

The above function just prints the texts "Hello World". We can call it by using the function name: `HelloWorld()`

In [28]:
def HelloWorld():
    print("Hello World")

In [29]:
HelloWorld()

Hello World

This is not a very useful function. We can also give it parameters and have it do something with the parameters.

```python
def HelloName(name):
    print("Hello " + name)
```

We have created the parameter `name`. Now when we execute the function we can pass in a name as the **argument** and it will print out "Hello + name". I.e. `HelloName("Kelly")` results in `Hello Kelly`.

We can also `return` a value.

```python
def AddHello(name):
    newname = "Hello " + name
    return newname
```

This returns the string newname which adds "Hello " in front of every string passed into the function.

So far not very useful.

In [30]:
def AddHello(name):
    newname = "Hello " + name
    return newname

In [32]:
HelloGeorge = AddHello("George")
print(HelloGeorge)

Hello George

### Execution

Functions become useful when they take on tasks that would require a lot of repeated code.<br> For example, if you have been given a list of names, but not everyone entered their name consistently you can write a function to clean up the list. This could involve capitalizing every name, removing any special character, and sorting the list alphabetically.

In [33]:
def cleanList(listnames):
    #create a new empty list that will store the revised values
    newlist = []
    #loop through every name in the provided list
    for name in listnames:
        #create a temporary variable for name
        tempname = name
        #change name to title case
        tempname = tempname.title()
        #edit out any special characters in tempname
        tempname = ''.join(char for char in tempname if char.isalnum() or char.isspace())
        #add modified name to newlist
        newlist.append(tempname)
        #return the list sorted
    return sorted(newlist)

In [34]:
list3 = ["Ziggy%","Bob", "Rich$", "sam", "HANK!!!", "T-Dubbs"]

In [35]:
list4 = cleanList(list3)

In [36]:
list4

['Bob', 'Hank', 'Rich', 'Sam', 'TDubbs', 'Ziggy']

#### Task 7

#### Task 7

Imagine that you have a program that uses a list of phone numbers provided by users. Unfortunately, not every user was equally diligent in how they entered their phone number. The code required to convert a 10 digit string to a phone number format is as follows:<br>

```python
phonenumber = ''.join(number for number in phonenumber if number.isdigit())
phonenumber = "({}) {}-{}".format(phonenumber[:3], phonenumber[3:6], phonenumber[6:])
```

**Note** The above code incorporates things we have already learned. A `for` loop and list slicing.

Create a function called `cleanPhonenumber` that takes a list of unformatted phone numbers and goes through each phone number to standardize the format using the functions above and then return the new list of phone numbers.

In [41]:
dirty_phonenumbers = ["5678761990","(413)467-8900","212 340 5678", "817-999-7788"]

In [42]:
#write your function here
def cleanPhonenumber(listnumbers):
    newlist = []
    for phonenumber in listnumbers:
        phonenumber = ''.join(number for number in phonenumber if number.isdigit())
        phonenumber = "({}) {}-{}".format(phonenumber[:3], phonenumber[3:6], phonenumber[6:])
        newlist.append(phonenumber)
    return newlist

In [43]:
#call your function here
cleaned_phonenumbers = cleanPhonenumber(dirty_phonenumbers)
cleaned_phonenumbers

['(567) 876-1990', '(413) 467-8900', '(212) 340-5678', '(817) 999-7788']

## Dictionaries - Key-Value Pairs

One more important data type to know is the **dictionary**. Dictionaries store data in key-value pairs, making them perfect for organizing related information.

### Creating Dictionaries

In [44]:
# Create a dictionary with curly braces
student_info = {
    "name": "Alice",
    "age": 20,
    "major": "Digital Studies",
    "gpa": 3.8
}

print(student_info)

{'name': 'Alice', 'age': 20, 'major': 'Digital Studies', 'gpa': 3.8}

### Accessing Dictionary Values

You can access values using their keys:

In [45]:
# Access individual values
print("Student name:", student_info["name"])
print("Student GPA:", student_info["gpa"])

# You can also add new key-value pairs
student_info["graduation_year"] = 2026
print("Updated info:", student_info)

Student name: Alice
Student GPA: 3.8
Updated info: {'name': 'Alice', 'age': 20, 'major': 'Digital Studies', 'gpa': 3.8, 'graduation_year': 2026}

## Conditional Statements (if/else)

Programming becomes powerful when you can make decisions based on data. Python uses `if`, `elif`, and `else` statements for this.

### Basic If Statements

In [46]:
# Simple if statement
age = 21

if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

# Multiple conditions with elif
grade = 85

if grade >= 90:
    print("Grade: A")
elif grade >= 80:
    print("Grade: B")
elif grade >= 70:
    print("Grade: C")
else:
    print("Grade: F")

You are an adult
Grade: B

#### Task 8:
Write a conditional statement that checks if a student's GPA is above 3.5. If it is, print "Dean's List", if it's above 3.0 print "Good Standing", otherwise print "Academic Probation".

In [ ]:
# Write your conditional statement here
gpa = 3.7  # Test with different values

## 🎯 Lesson Summary

Congratulations! You've learned the fundamental building blocks of Python programming:

### **Data Types:**
- **Integers** - Whole numbers
- **Floats** - Decimal numbers  
- **Strings** - Text data
- **Booleans** - True/False values
- **Lists** - Ordered collections of data
- **Dictionaries** - Key-value pairs

### **Operations:**
- **Type conversion** - Converting between data types
- **List indexing and slicing** - Accessing parts of lists
- **Iteration** - Using `for` loops to repeat operations
- **Functions** - Creating reusable code blocks
- **Conditionals** - Making decisions in code

### **Key Skills:**
- Debugging **TypeError** messages
- Creating and manipulating lists
- Writing functions with parameters and return values
- Using loops to process data efficiently
- Making logical decisions with if/else statements

## 🚀 Next Steps

These fundamentals prepare you for:
- **Data analysis** with pandas
- **Text processing** for digital humanities
- **Data visualization**
- **Machine learning basics**

### **Practice Ideas:**
1. Create a function that analyzes a list of grades
2. Build a simple text processor for poems or stories
3. Make a basic data validator for user input
4. Combine everything to process survey responses

Keep practicing these concepts - they're the foundation for everything else in Python!